@import url('https://fonts.googleapis.com/css?family=Merienda');
*{
  box-sizing: border-box;
  font-family: 'Merienda', cursive;
}

body{
   background-image: url("https://images.pexels.com/photos/584414/fluffy-cloud-cloudscape-sky-584414.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}

footer{
  text-align: center;
  font-size: 5em;
}

/* .intro{
  text-align: center;
  font-family: sans-serif;
  color: orange;
}
.intro>h1{
  color: orange;
  text-align: center;
  font-family: sans-serif;
} */

.import{
  background-image: url('https://images.pexels.com/photos/1193603/pexels-photo-1193603.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  background-position: center;
height: 600px;
}
.input{
  color: orange;
  font-family: monospace;
  font-size: 3vh;
  text-align: center;
}

.import p{
  color: aqua;
  margin-top: 15%;
  text-align: center;
}

#swara >button{
    align-content: center;
    font-size: 1em;
    color:white;
    background-color:blue;
    border-radius: 100px;
    width: 100%;
   }
   btn btn-default{
         background-color: blue;
.baba,.projo{ margin-top: 50px; margin-bottom: 50px;}
     .mwisho{margin-left: 25px;}

   #swara >button:hover{
     background-color: orangered;
     color: black;
   }

/* div.font h1,h2 {
    margin: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) } */




/* .intro{
  color: orange;
  height: 10em;
  text-align: center;
  margin-top: 50px; */
  /* position: relative */
  /* text-align: center;
  margin-top: 0px; */
}
footer{
  color: orange;
  font-size: 3vh;
  text-align: center;
}

.contain img{
  float: left;
  width: 400px;
  margin-right: 15%;
  margin-left: 3px;
}
.container h2{
  margin-top: 16%;
  text-align: center;
}

.icons{
  font-size: 4vh;
  margin-top: 20%;
  text-align: center;
  margin:10px;
}
